Source: rock64-linux
Section: kernel
Priority: optional
Maintainer: Scarlett Moore <sgmoore@kde.org>
Build-Depends: debhelper (>=12), build-essential, bc, lzop, u-boot-tools, dpkg-dev
Standards-Version: 4.4.0
Homepage: https://github.com/ayufan-rock64/linux-kernel

Package: rock64-linux-image
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: kernel package for the Rock64
 This package contains the nececssary kernel bits to boot
 a Rock64
